cython==3.1.5
matplotlib==3.1.2
numpy==1.19.0
pandas==1.2
seaborn==0.9.0
plotly==2.4.1
genepattern-notebook>=0.7.1
#ipywidgets==7.2.0
ipywidgets==7.5.1
notebook>=5.7.2
scipy==1.5.4
louvain==0.6.1
scanpy==1.5.1
igraph==0.9.11
scikit-image==0.18.3
tables==3.8.0
seaborn==0.9.0
beakerx==2.0.1
beakerx-base==2.0.1

